.moviecard {
  height: 305px;
  width: 180px;
  position: relative;
  margin: 10px;
}

.movie_img {
  width: 180px;
  height: 265px;
}

.movieName {
  padding: 10px 10px;
  text-align: center;
  margin: 0;
  height: 40px;
  width: 180px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.rate {
  position: absolute;
  bottom: 40px;
  /* top: 0; */
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* width: 100%; */
  text-align: right;
}
.movieRating {
  color: gold;
}
